/S1/dist/
/Práctica 1/S1/build/
/Práctica 1/S1/nbproject/private/
/Práctica 1/S1R/nbproject/private/
/Práctica 1/S4/S4/nbproject/private/
/Práctica 1/S4/S4/build/
/Práctica 1/S4/S4/dist/
/Práctica 1/S3/S3/S3/build/
/Práctica 1/S3/S3/S3/nbproject/private/
/Práctica 1/S1/S1J/nbproject/private/
/Práctica 1/S1/S1J/build/
/Práctica 1/S3/S1R/nbproject/private/
/Práctica 2/S4/S4/dist/